{% extends 'base.html' %}

{% block content %}

<h1>Cities list ({{ count }} records):</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                City
            </th>
            {% if user.is_authenticated %}
            <th class="text-center">
                Edit record
            </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for city in cities %}
        <tr>
            <td id="{{ city.id }}">
                {{ city.id }}
            </td>
            <td>
                {{ city.city }}
            </td>
            {% if user.is_authenticated %}
            <td class="text-center">
                <a href="{% url 'cities_update' city.id %}" class="btn btn-outline-primary md-2">Edit</a><br>
                <a href="{% url 'cities_delete' city.id %}" class="btn btn-outline-danger md-2">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
