{% extends 'base.html' %}

{% block content %}

<h1>Clubs statistics:</h1>
<div class="text-center">
    <a href="{% url 'club_stats' %}" class="btn btn-dark me-2">Stats by clubs</a>
    <a href="{% url 'player_stats' %}" class="btn btn-outline-dark me-2">Stats by players</a>
    <a href="{% url 'players_above_average' %}" class="btn btn-outline-dark me-2">Players with above average stats</a>
    <br>
    <br>
    <a href="{% url 'club_stats' %}" class="btn btn-dark me-2">Goals stats</a>
    <a href="{% url 'club_games' %}" class="btn btn-outline-dark me-2">Games stats</a>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <td>
                Club
            </td>
            <td>
                Average scored (goals)
            </td>
            <td>
                Average skipped (goals)
            </td>
        </tr>
    </thead>
    {% for club in clubs_stats %}
    <tbody>
        <tr>
            <td>
                <a href="{% url 'club_info' club.id %}"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ club.club }}</a>
            </td>
            <td>
                {{ club.avg_scored }}
            </td>
            <td>
                {{ club.avg_skipped }}
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}
